In [7]:
pip install pandas

Collecting pandas
  Downloading pandas-1.2.3-cp38-cp38-win_amd64.whl (9.3 MB)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.2-cp38-cp38-win_amd64.whl (13.7 MB)
Requirement already satisfied: pytz>=2017.3 in c:\anaconda\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\anaconda\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.20.2 pandas-1.2.3
Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install pyarrow

Collecting pyarrow
  Using cached pyarrow-3.0.0-cp38-cp38-win_amd64.whl (12.7 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\anaconda\lib\site-packages (from pyarrow) (1.20.2)
Installing collected packages: pyarrow
Successfully installed pyarrow-3.0.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
%%time

data = pd.read_parquet("./raw_data/train.parquet", engine="pyarrow")

print("Train size:", data.shape)

Train size: (101230332, 10)
Wall time: 17 s

In [15]:
data.head(15)

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,NaN,<NA>
1,1,56943,115,5716,False,2,2,1,37000.0,False
2,2,118363,115,128,False,0,0,1,55000.0,False
3,3,131167,115,7860,False,3,0,1,19000.0,False
4,4,137965,115,7922,False,4,1,1,11000.0,False
5,5,157063,115,156,False,5,2,1,5000.0,False
6,6,176092,115,51,False,6,0,1,17000.0,False
7,7,194190,115,50,False,7,3,1,17000.0,False
8,8,212463,115,7896,False,8,2,1,16000.0,False
9,9,230983,115,7863,False,9,0,1,16000.0,False
10,10,255381,115,152,False,10,2,0,17000.0,False
11,11,280033,115,104,False,11,1,0,22000.0,False
12,12,302994,115,108,False,12,1,0,23000.0,False
13,13,328686,115,7900,False,13,0,1,21000.0,False
14,14,352686,115,7901,False,14,1,1,24000.0,False

In [6]:
lectures = pd.read_csv('./raw_data/lectures.csv')
lectures.head()

   lecture_id  tag  part           type_of
0          89  159     5           concept
1         100   70     1           concept
2         185   45     6           concept
3         192   79     5  solving question
4         317  156     5  solving question

In [7]:
questions = pd.read_csv('./raw_data/questions.csv')
questions.head()

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38

In [11]:
responses = pd.read_csv('./raw_data/responses.csv')
responses.head()

   row_id  answered_correctly  group_num
0       0                 0.5          0
1       1                 0.5          0
2       2                 0.5          0
3       3                 0.5          0
4       4                 0.5          0

In [10]:
example = pd.read_csv('./raw_data/example_test.csv')
example.head()

,row_id,group_num,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses
0,0,0,0,275030867,5729,0,0,NaN,NaN,[],[]
1,1,0,13309898705,554169193,12010,0,4427,19000.0,True,NaN,NaN
2,2,0,4213672059,1720860329,457,0,240,17000.0,True,NaN,NaN
3,3,0,62798072960,288641214,13262,0,266,23000.0,True,NaN,NaN
4,4,0,10585422061,1728340777,6119,0,162,72400.0,True,NaN,NaN

In [16]:
example.corr()

,row_id,group_num,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time
row_id,1.000000,0.961508,0.288165,0.078455,-0.086115,NaN,0.035428,-0.194813
group_num,0.961508,1.000000,0.297346,0.097520,-0.116978,NaN,0.082199,-0.167273
timestamp,0.288165,0.297346,1.000000,-0.122435,0.124126,NaN,0.358344,-0.207320
user_id,0.078455,0.097520,-0.122435,1.000000,-0.156409,NaN,0.170601,0.018868
content_id,-0.086115,-0.116978,0.124126,-0.156409,1.000000,NaN,0.093570,0.202547
content_type_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
task_container_id,0.035428,0.082199,0.358344,0.170601,0.093570,NaN,1.000000,-0.258101
prior_question_elapsed_time,-0.194813,-0.167273,-0.207320,0.018868,0.202547,NaN,-0.258101,1.000000

In [13]:
data.describe()

,row_id,timestamp,user_id,content_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time
count,1.012303e+08,1.012303e+08,1.012303e+08,1.012303e+08,1.012303e+08,1.012303e+08,1.012303e+08,9.887879e+07
mean,5.061517e+07,7.703644e+09,1.076732e+09,5.219605e+03,9.040624e+02,1.376123e+00,6.251644e-01,2.542384e+04
std,2.922268e+07,1.159266e+10,6.197163e+08,3.866359e+03,1.358302e+03,1.192896e+00,5.225307e-01,1.994815e+04
min,0.000000e+00,0.000000e+00,1.150000e+02,0.000000e+00,0.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00
25%,2.530758e+07,5.243436e+08,5.408116e+08,2.063000e+03,1.040000e+02,0.000000e+00,0.000000e+00,1.600000e+04
50%,5.061517e+07,2.674234e+09,1.071781e+09,5.026000e+03,3.820000e+02,1.000000e+00,1.000000e+00,2.100000e+04
75%,7.592275e+07,9.924551e+09,1.615742e+09,7.425000e+03,1.094000e+03,3.000000e+00,1.000000e+00,2.966600e+04
max,1.012303e+08,8.742577e+10,2.147483e+09,3.273600e+04,9.999000e+03,3.000000e+00,1.000000e+00,3.000000e+05

In [14]:
data.corr()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
row_id,1.000000,-0.000010,0.999990,0.000866,-0.000151,0.001492,0.000158,-0.000303,0.000294,-0.001012
timestamp,-0.000010,1.000000,-0.000041,0.052931,0.000974,0.433359,0.000724,0.025452,0.013934,0.149455
user_id,0.999990,-0.000041,1.000000,0.000868,-0.000150,0.001498,0.000156,-0.000307,0.000308,-0.001010
content_id,0.000866,0.052931,0.000868,1.000000,0.414640,0.046304,-0.106668,-0.196960,0.151661,-0.136133
content_type_id,-0.000151,0.000974,-0.000150,0.414640,1.000000,-0.019647,-0.279818,-0.436912,NaN,-0.399162
task_container_id,0.001492,0.433359,0.001498,0.046304,-0.019647,1.000000,0.008532,0.061129,-0.013412,0.161003
user_answer,0.000158,0.000724,0.000156,-0.106668,-0.279818,0.008532,1.000000,0.126471,0.014570,0.101991
answered_correctly,-0.000303,0.025452,-0.000307,-0.196960,-0.436912,0.061129,0.126471,1.000000,-0.007900,0.261694
prior_question_elapsed_time,0.000294,0.013934,0.000308,0.151661,NaN,-0.013412,0.014570,-0.007900,1.000000,-0.002717
prior_question_had_explanation,-0.001012,0.149455,-0.001010,-0.136133,-0.399162,0.161003,0.101991,0.261694,-0.002717,1.000000

In [19]:
data['answered_correctly'].value_counts()

 1    65244627
 0    34026673
-1     1959032
Name: answered_correctly, dtype: int64

In [21]:
data['content_type_id'].value_counts()

False    99271300
True      1959032
Name: content_type_id, dtype: Int64